<!doctype html>
<html class="<%= page_classes %>">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || yield_content(:title) || 'Default page title' %></title>

    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1">

    <%= stylesheet_link_tag "style" %>

    <script src="https://use.typekit.net/qep8gte.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shim" %>
    <![endif]-->

    <%# favicon_tag 'images/favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
